.container {
    /* width: 100%; */
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
}
.driver-list {
    display: block;
    padding: 15px;
    max-width: fit-content;
}
.driver {
    min-width: 250px;
    border-bottom: 2px solid gray;
    display: block;
    /* text-align: center; */
    position: relative;
}
.text-center {
    text-align: center;
}
.padding-r-80 {
    padding-right: 80px;
}
.clear {
    width: 100%;
    background-color: lightgrey;
    outline: none;
    border: none;
    text-align: center;
    font-weight: 300;
    font-size: medium;
}
.number {
    position: absolute;
    padding-left: 5px;
}
.edit-delete-container {
    height: 100%;
    position: absolute;
    display: flex;
    right: 5px;
    top: 4px;
    gap: 5px;
}
.edit {
    font-size: small;
    cursor: pointer;
}

.delete {
    font-size: small;
    cursor: pointer;
}