<div class="container">
    <div class="driver-list">
        <div class="driver">
            <h3>
                Drivers:
            </h3>
        </div>
        <div class="driver" *ngFor="let driver of drivers">
            {{ driver }}
        </div>
        <div class="driver">+</div>
    </div>
    <div class="driver-list">
        <div class="driver">
            <h3>
                Session 1
            </h3>
        </div>
        <div class="driver">
            <div class="number">1</div>
            Bob Smith
        </div>
    </div>
</div>
