<div class="container">
    <div class="driver-list">
        <div class="driver-list-header">
            <h3>
                {{ session }}
            </h3>
            <div class="edit-delete-container">
                <div class="edit" (click)="startEdit(sessionName)">edit</div>
                <div class="edit" (click)="confirmDelete(sessionName)">delete</div>
            </div>
            <div class="edit-form driver-list-header" *ngIf="editingSession === driver">
                <input [(ngModel)]="newDriverName" />
                <button class="save-btn" (click)="saveEdit()">Save</button>
                <button class="cancel-btn" (click)="cancelEdit()">Cancel</button>
            </div>
        </div>
        <div  *ngFor="let driver of drivers">
            <div class="driver-container"  *ngIf="editingDriver !== driver">
                <div class="driver-name">{{ driver }}</div>
                <div class="edit-delete-container">
                    <div class="edit" (click)="startEdit(driver)">edit</div>
                    <div class="edit" (click)="confirmDelete(driver)">delete</div>
                </div>
            </div>
            <div class="edit-form driver-container" *ngIf="editingDriver === driver">
                <input [(ngModel)]="newDriverName" />
                <button class="save-btn" (click)="saveEdit()">Save</button>
                <button class="cancel-btn" (click)="cancelEdit()">Cancel</button>
            </div>
            <!-- <div class="session-info"></div> -->
            <!-- <div class="driver" *ngFor="let driver of drivers">
                <div *ngIf="editingDriver !== driver">
                  <span>{{ driver }}</span>
                  <button class="edit-btn" (click)="startEdit(driver)">Edit</button>
                </div>
                <div *ngIf="editingDriver === driver">
                  <input [(ngModel)]="newDriverName" />
                  <button class="save-btn" (click)="saveEdit()">Save</button>
                  <button class="cancel-btn" (click)="cancelEdit()">Cancel</button>
                </div>
              </div> -->
            
        </div>
        <div class="driver-container">
            <input 
            id="new-driver" 
            class="clear" 
            type="text"
            placeholder="+"
            [(ngModel)]="newDriver"
            (keydown)="onKeyDown($event)">
        </div>
    <!-- </div>
    <div class="driver-list">
        <div class="driver-list-header">
            <h3>
                Session 1
            </h3>
        </div>
        <div class="driver-container">
            <div class="number">1</div>
            <div class="driver-name">Bob Smith</div>
            <div class="edit-delete-container">
                <div class="edit">move</div>
            </div>
        </div>
    </div> -->
</div>

<div class="popup" *ngIf="driverToDelete">
    <div class="popup-content">
        <p>Are you sure you want to delete {{ driverToDelete }}?</p>
        <button id="confirmDelete" (click)="deleteDriver()">Yes, delete</button>
        <button id="cancel" (click)="cancelDelete()">Cancel</button>
    </div>
</div>
